// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Inter", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$normal-content-size: 14px;

// Colors
// $blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
$yellow: #ffed4a;
// $green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Colors by Design
$blue: #0d5daa;
$blue-light: #2a7ac7;
$black: #333333;
$white: #ffffff;
$border: #dddddd;
$red: #cc0000;
$gray: #999999;
$error: #dc3545;
$orange: #f28008;
$orange-dark: #e65100;
$antiquewhite-color: #fff5e6;
$teal: #17a2b8;
$green: #028020;
$green-light: #71b711;
