@import "tables";

img,
svg,
.badge {
    vertical-align: text-bottom;
}
.nav-tabs {
    .nav-link {
        padding: 0.5rem 1rem;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    padding: 1px;
    &:hover {
        cursor: pointer;
    }
}
.sidebar {
    @include media-breakpoint-up(md) {
        max-width: 280px;
    }
}
.content {
    padding: 0 1.5rem 0 1.5rem;
    @include media-breakpoint-up(lg) {
        margin-left: 280px;
    }
}
.card-body {
    padding-bottom: 1.5rem;
}
